$fonts: ('Bold', 700), ('Medium', 500), ('Regular', 400);

@each $name, $weight in $fonts {
    @font-face {
        font-family: 'Montserrat';
        src: url(../fonts/Montserrat-#{$name}.ttf);
        font-weight: $weight;
    }
}