
:root {
    --body: #fff;
    --color: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat';
    background: var(--body);
    color: var(--color);
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

button, input, textarea {
    border: none;
    outline: none;
    background: none;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    resize: none;
}

.container {
    margin: 0 auto;
    padding: 0 12px;
    max-width: 1224px;
    width: 100%;
}

.loader{
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 50vh;
    
    
    &__icon{
        position: relative;
        
        
        width: 50px;
        height: 50px;
        border: 5px solid #ccc;
        border-radius: 50%;
        
        &::after{
            content: '';
            
            position: absolute;
            left: -5px;
            top: -5px;
            
            width: 100%;
            height: 100%;
            
            border: 5px solid transparent;
            border-top-color: green;
            border-radius: 50%;
            
            animation: move 1s linear infinite; 
        }
    }
}

@keyframes move{
    0%{
        transform: rotate(0);    
    }
    
    100%{
        transform: rotate(360deg);
    }
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 80vh;
}
