.week{
    margin-top: 50px;
    
    &__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        margin-bottom: 7px;
    }
    
    &__btn{
        padding: 7px 20px;
        
        border-radius: 5px;
        box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);
        
        font-size: 18px;
        
        &.active{
            background: #4793FF;
            color: #fff;
        }
    }
    
    &__content{
        display: flex;
        justify-content: space-between;
        
        padding: 20px;
        
        border-radius: 0px 0px 20px 20px;
        background: #fff;
        box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);
    }
    
}